@font-face {
    font-family: "Roboto-Regular";
    src: url("/Roboto-Regular.woff") format("woff") ;
  }

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/Montserrat-Regular.woff") format("woff") ;
  }

  @font-face {
    font-family: "Montserrat-Light";
    src: url("/Montserrat-Light.woff") format("woff") ;
  }
  @font-face {
    font-family: "Merriweather-LightItalic";
    src: url("/Merriweather-LightItalic.woff") format("woff") ;
  }
  @font-face {
    font-family: "HelveticaNeueLTProRoman";
    src: url("/HelveticaNeueLTProRoman.woff") format("woff") ;
  }
  @font-face {
    font-family: "HelveticaNeueLTProMd";
    src: url("/HelveticaNeueLTProMd.woff") format("woff") ;
  }
  @font-face {
    font-family: "HelveticaNeueLTProLt";
    src: url("/HelveticaNeueLTProLt.woff") format("woff") ;
  }
